h1, h3, h5, #result {
  font-family: 'Permanent Marker', cursive;
  border-radius: 5px;
  padding-left: 10px;
}

h1 {
  background-color: #d82727;
  color: #f9f9f4;
  padding: 5px;
  text-align: center;
}

h5 {
  background-color: #d82727;
  color: #f9f9f4;
}

#order-button {
  display: none;
}

#result {
  font-size: 45px;
  background-color: #d82727;
  color: #f9f9f4;
  margin-bottom: 20px;
}

#toppings-box p {
  display: none;
}

#pizza-img {
  width: 30%;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

#sauce-img {
  z-index: 2;
  width: 25%;
  display: block;
  margin: auto;
  margin-top: 2%;
  left: 0;
  right: 0;
  position: absolute;
}

#cheese-img {
  z-index: 3;
  width: 23%;
  display: block;
  margin: auto;
  margin-top: 3%;
  left: 0;
  right: 0;
  position: absolute;
}

.sizing {
  display: block;
  display: none;
  z-index: 4;
  width: 23%;
  margin: auto;
  margin-top: 3%;
  left: 0;
  right: 0;
  position: absolute;
}
